<!-- First Bar (Blue) -->
<nav
    class="navbar navbar-expand"
    style="background-color: #00264d; height: 40px; z-index: 1000"
    id="bar1"
>
    <div class="container-sm">
        <!-- Left Language Icons -->
        <div class="d-flex align-items-center">
            <a href="#" class="me-3">
                <img
                    src="media/gr.png"
                    alt="Greek Flag"
                    width="20"
                    height="12"
                />
            </a>
            <a href="#" class="me-3">
                <img
                    src="media/gb.png"
                    alt="English Flag"
                    width="20"
                    height="12"
                />
            </a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a
                    class="nav-link active text-white extra-small-text"
                    aria-current="page"
                    href="#"
                    >Πανεπιστήμιο Πατρών</a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link text-white extra-small-text" href="#"
                    >ΤΜΗΥΠ</a
                >
            </li>
        </ul>
    </div>
</nav>
